%p#notice= notice

#map

:javascript
  $(function() {
    Zombie.init( #{@game.lat}, #{@game.long});
    setTimeout(function() {
      Zombie.startGame(52.016584,4.3506897)
    }, 1000);
    setTimeout(function() {
      Zombie.moveMarker(52.01597,4.3500187)
    }, 3000);
  })